<!doctype html>
<html>
<head>
<title>Realtime Spatial Line Chart</title>
<script src="../../js/Chart.js"></script>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/bootstrap-theme.css" />
<link rel="stylesheet" href="../../css/application.css" />

<script src="../../js/sockjs-0.3.4.js"></script>
<script src="../../js/stomp.js"></script>
<script src="../../js/jquery-1.7.2.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/Chart.js"></script>
<script src="../../js/tabs.js" type="text/javascript"></script>
<script src="../../js/vibration-bar.js" type="text/javascript"></script>
<style type="text/css">
html, body, #canvas-google {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>
</head>
<body onload="init()">
	<ul id="tabs">
		<li><a href="#sensor-details">Spatial
				Sensor</a></li>
		<li><a href="#flow">Data Flow</a></li>
		<li><a href="#acceleration">Acceleration</a></li>
		<li><a href="#magnetic">Magnetic</a></li>
		<li><a href="#angular">Angular</a></li>
		<li><a href="#vibration">Vibration</a></li>
	</ul>
	
	<div class="tabContent" id="sensor-details">
		<h2>Spatial Sensor Details</h2>
		<div>
			<img alt=""
				src="http://www.phidgets.com/wiki/images/thumb/8/8a/1041_0_Axis_Diagram.jpg/400px-1041_0_Axis_Diagram.jpg" />
		</div>
	</div>
	<div class="tabContent" id="flow">
		<h2>Data Flow</h2>
		<div>
			<img alt="" src="../../img/Slide02.png" />
		</div>
	</div>
	<div class="tabContent" id="acceleration">
		<h2>3D Acceleration (m/s2)</h2>
		<div>
			<canvas id="canvas-accel" height="450" width="600"></canvas>
		</div>
		<div id="accelLegendDiv"></div>
	</div>
	<div class="tabContent" id="angular">
		<h2>3D Angular Rate (degrees/s)</h2>
		<div>
			<canvas id="canvas-angular" height="450" width="600"></canvas>
		</div>
		<div id="angularLegendDiv"></div>
	</div>
	<div class="tabContent" id="magnetic">
		<h2>3D Magnetic (guass)</h2>
		<div>
			<canvas id="canvas-magnetic" height="450" width="600"></canvas>
		</div>
		<div id="magneticLegendDiv"></div>
	</div>
	<div class="tabContent" id="vibration">
		<h2>Vibration Meter</h2>
		<div>
			<canvas id="canvas-vibration" height="450" width="600"></canvas>
		</div>
		<div id="vibrationLegendDiv"></div>
	</div>

	<a href="/spatial">Data View</a>
	<div id="canvas-google"></div>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAih2lugiaIr9zRhaPF1vExdybaHM3izAY">
		
	</script>
	<script type="text/javascript">
		var map;
		var marker;
		var rsf = function() {
			return (Math.random() * 3)
		};
		
		var accelChartData = {
			labels : [ "ts1", "ts2", "ts3", "ts4", "ts5", "ts6", "ts7", "ts1",
					"ts2", "ts3", "ts4", "ts5", "ts6", "ts7" ],
			datasets : [
					{
						label : "X axis (g)",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(212,242,182,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Y axis (g)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(209,84,17,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Z axis (g)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					} ]
		}
		var angularChartData = {
			labels : [ "ts1", "ts2", "ts3", "ts4", "ts5", "ts6", "ts7", "ts1",
					"ts2", "ts3", "ts4", "ts5", "ts6", "ts7" ],
			datasets : [
					{
						label : "X axis (degrees/s)",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(212,242,182,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Y axis (degrees/s)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(209,84,17,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Z axis (degrees/s)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					} ]
		}

		var magneticChartData = {
			labels : [ "ts1", "ts2", "ts3", "ts4", "ts5", "ts6", "ts7", "ts1",
					"ts2", "ts3", "ts4", "ts5", "ts6", "ts7" ],
			datasets : [
					{
						label : "X axis (gauss)",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(212,242,182,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Y axis (gauss)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(209,84,17,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Z axis (gauss)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					} ]
		}
		
		Chart.Scale = Chart.Scale.extend({
		    calculateX: function (index) {
		        //check to ensure data is in chart otherwise we will get inifinity
		        if (!(this.valuesCount)) {
		            return 0;
		        }
		        var isRotated = (this.xLabelRotation > 0),
		            // innerWidth = (this.offsetGridLines) ? this.width - offsetLeft - this.padding : this.width - (offsetLeft + halfLabelWidth * 2) - this.padding,
		            innerWidth = this.width - (this.xScalePaddingLeft + this.xScalePaddingRight),
		            //if we only have one data point take nothing off the count otherwise we get infinity
		            valueWidth = innerWidth / (this.valuesCount - ((this.offsetGridLines) || this.valuesCount === 1 ? 0 : 1)),
		            valueOffset = (valueWidth * index) + this.xScalePaddingLeft;

		        if (this.offsetGridLines) {
		            valueOffset += (valueWidth / 2);
		        }

		        return Math.round(valueOffset);
		    },
		});
		
		window.onload = function() {
			var ctx = document.getElementById("canvas-accel").getContext("2d");
			window.myLineAccel = new Chart(ctx).Line(accelChartData, {
				responsive : false,
				scaleIntegersOnly : false,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : -3.00
			});
			//then you just need to generate the legend
			var legend = window.myLineAccel.generateLegend()
			//and append it to your page somewhere
			document.getElementById("accelLegendDiv").innerHTML = legend;

			ctx = document.getElementById("canvas-angular").getContext("2d");
			window.myLineAngular = new Chart(ctx).Line(angularChartData, {
				responsive : false,
				scaleIntegersOnly : false,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : -3.00
			});
			//then you just need to generate the legend
			var legend = window.myLineAngular.generateLegend()
			//and append it to your page somewhere
			document.getElementById("angularLegendDiv").innerHTML = legend;

			ctx = document.getElementById("canvas-magnetic").getContext("2d");
			window.myLineMagnetic = new Chart(ctx).Line(magneticChartData, {
				responsive : false,
				scaleIntegersOnly : false,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : -3.00
			});
			//then you just need to generate the legend
			var legend = window.myLineMagnetic.generateLegend()
			//and append it to your page somewhere
			document.getElementById("magneticLegendDiv").innerHTML = legend;
			
			var vibrationData = {
				    labels: ["Vibration"],
				    datasets: [
				        {
				            label: "Value",
				            fillColor: "rgba(220,220,220,0.5)",
				            strokeColor: "rgba(220,220,220,0.8)",
				            highlightFill: "rgba(220,220,220,0.75)",
				            highlightStroke: "rgba(220,220,220,1)",
				            data: [65, 59, 80, 81, 56, 55, 40]
				        }
				    ]
				};

			
			var ctx = document.getElementById("canvas-vibration").getContext("2d");
			window.myBarVibration = new Chart(ctx).Line(vibrationData, {
				responsive : false,
				scaleIntegersOnly : true,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : 0,
				
				//Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
			    scaleBeginAtZero : true,

			    //Boolean - Whether grid lines are shown across the chart
			    scaleShowGridLines : true,

			    //String - Colour of the grid lines
			    scaleGridLineColor : "rgba(0,0,0,.05)",

			    //Number - Width of the grid lines
			    scaleGridLineWidth : 1,

			    //Boolean - Whether to show horizontal lines (except X axis)
			    scaleShowHorizontalLines: true,

			    //Boolean - Whether to show vertical lines (except Y axis)
			    scaleShowVerticalLines: true,

			    //Boolean - If there is a stroke on each bar
			    barShowStroke : false,

			    //Number - Pixel width of the bar stroke
			    barStrokeWidth : 10,

			    //Number - Spacing between each of the X value sets
			    barValueSpacing : 5,

			    //Number - Spacing between data sets within X values
			    barDatasetSpacing : 1
			});
			//then you just need to generate the legend
			var legend = window.myBarVibration.generateLegend()
			//and append it to your page somewhere
			document.getElementById("vibrationLegendDiv").innerHTML = legend;
			
			//Google Maps for GPS plot
			
			var mapOptions = {
				center : {
					lat : 37,
					lng : -122
				},
				zoom : 10
			};
			
			map = new google.maps.Map(document.getElementById('canvas-google'),
					mapOptions);
			var image = 'img/accelerometer.gif';
			var myLatLng = new google.maps.LatLng(37.394414, -122.147795);
			marker = new google.maps.Marker({
				position : myLatLng,
				map : map,
				icon : image
			});
		}

		$(document).ready(function() {
			connect();
		});
		var stompClient = null;

		function connect() {
			var socket = new SockJS('/phidget-ws');
			stompClient = Stomp.over(socket);
			stompClient.connect('6475c30d-e658-4e75-aa13-83cfb384b53d',
					'gh6l264kcer94qf5ic2bcrj9tl', function(frame) {
						console.log('Connected: ' + frame);
						stompClient.subscribe('/topic/phidget-stream-tap',
								function(message) {
									showEventInfo(message.body);
								});
					});
		}

		function showEventInfo(eventCollectionJson) {
			var eventFeatures = $.parseJSON(eventCollectionJson);
			//console.log(eventFeatures)
			var response = $("#phidgetbody");
			response.empty();
			var eventDesc = eventFeatures.type;
			if (eventDesc == "accel") {
				var x = parseFloat(eventFeatures.x);
				var y = parseFloat(eventFeatures.y);
				var z = parseFloat(eventFeatures.z);
				var ts = eventFeatures.rcvts;

				window.myLineAccel.removeData()
				window.myLineAccel.addData([ x, y, z ], ts);
			} else if (eventDesc == "angular") {
				var x = parseFloat(eventFeatures.x);
				var y = parseFloat(eventFeatures.y);
				var z = parseFloat(eventFeatures.z);
				var ts = eventFeatures.rcvts;

				window.myLineAngular.removeData()
				window.myLineAngular.addData([ x, y, z ], ts);
			} else if (eventDesc == "magnetic") {
				var x = parseFloat(eventFeatures.x);
				var y = parseFloat(eventFeatures.y);
				var z = parseFloat(eventFeatures.z);
				var ts = eventFeatures.rcvts;

				window.myLineMagnetic.removeData()
				window.myLineMagnetic.addData([ x, y, z ], ts);
				
			} else if (eventDesc == "vibr") {
				var value = parseFloat(eventFeatures.value);
				var ts = eventFeatures.rcvts;

				window.myBarVibration.removeData()
				window.myBarVibration.addData([ value ], ts);
			} else if (eventDesc == "gps") {
				var lat = parseFloat(eventFeatures.lat);
				var long = parseFloat(eventFeatures.long);
				var alt = parseFloat(eventFeatures.alt);
				var ts = eventFeatures.rcvts;

				gPos = new google.maps.LatLng(lat, long);
				marker.setPosition(gPos);
				map.setPosition(gPos);
			} else {
				console.log("invalid JSON")
			}
		}
	</script>
</body>
</html>