<!doctype html>
<html>
<head>
<title>Realtime Spatial Line Chart</title>
<script src="../../js/Chart.js"></script>
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstrap-theme.css" />
<link rel="stylesheet" href="../../static/css/application.css" />

<script src="../../js/sockjs-0.3.4.js"></script>
<script src="../../js/stomp.js"></script>
<script src="../../js/jquery-1.7.2.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/Chart.js"></script>
<style type="text/css">
html, body, #canvas-google {
	height: 100%;
	margin: 0;
	padding: 0;
}
</style>
</head>
<body onload="init()">
	<div class="tabContent" id="sensor-details">
		<h2>Spatial Sensor Details</h2>
		<div id="diagramDiv">
			<img alt=""
				src="http://www.phidgets.com/wiki/images/thumb/8/8a/1041_0_Axis_Diagram.jpg/400px-1041_0_Axis_Diagram.jpg" />
		</div>
	</div>
	<div class="tabContent" id="flow">
		<h2>Data Flow</h2>
		<div id="flowDiv">
			<img alt="" src="../../img/Slide02.png" />
		</div>
	</div>
	<div class="tabContent" id="acceleration">
		<h2>3D Acceleration (m/s2)</h2>
		<div>
			<canvas id="canvas-accel" height="450" width="600"></canvas>
		</div>
		<div id="accelLegendDiv"></div>
	</div>
	<div class="tabContent" id="angular">
		<h2>3D Angular Rate (degrees/s)</h2>
		<div>
			<canvas id="canvas-angular" height="450" width="600"></canvas>
		</div>
		<div id="angularLegendDiv"></div>
	</div>
	<div class="tabContent" id="magnetic">
		<h2>3D Magnetic (guass)</h2>
		<div>
			<canvas id="canvas-magnetic" height="450" width="600"></canvas>
		</div>
		<div id="magneticLegendDiv"></div>
	</div>

	<ul id="tabs">
		<li><a href="#sensor-details" onclick="showTab()">Spatial Sensor</a></li>
		<li><a href="#flow" onclick="showTab()">Data Flow</a></li>
		<li><a href="#acceleration" onclick="showTab()">Acceleration</a></li>
		<li><a href="#magnetic" onclick="showTab()">Magnetic</a></li>
		<li><a href="#angular" onclick="showTab()">Angular</a></li>
	</ul>
	<a href="/spatial">Data View</a>
	<div id="canvas-google"></div>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAih2lugiaIr9zRhaPF1vExdybaHM3izAY">
		
	</script>
	<script>
		var map;
		var marker;
		
		var tabLinks = new Array();
		var contentDivs = new Array();
		
		var rsf = function() {
			return (Math.random() * 3)
		};
		var accelChartData = {
			labels : [ "ts1", "ts2", "ts3", "ts4", "ts5", "ts6", "ts7", "ts1",
					"ts2", "ts3", "ts4", "ts5", "ts6", "ts7" ],
			datasets : [
					{
						label : "X axis (g)",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(212,242,182,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Y axis (g)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(209,84,17,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Z axis (g)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					} ]
		}
		var angularChartData = {
			labels : [ "ts1", "ts2", "ts3", "ts4", "ts5", "ts6", "ts7", "ts1",
					"ts2", "ts3", "ts4", "ts5", "ts6", "ts7" ],
			datasets : [
					{
						label : "X axis (degrees/s)",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(212,242,182,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Y axis (degrees/s)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(209,84,17,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Z axis (degrees/s)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					} ]
		}

		var magneticChartData = {
			labels : [ "ts1", "ts2", "ts3", "ts4", "ts5", "ts6", "ts7", "ts1",
					"ts2", "ts3", "ts4", "ts5", "ts6", "ts7" ],
			datasets : [
					{
						label : "X axis (gauss)",
						fillColor : "rgba(220,220,220,0.2)",
						strokeColor : "rgba(212,242,182,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(220,220,220,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Y axis (gauss)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(209,84,17,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					},
					{
						label : "Z axis (gauss)",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : [ rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf(), rsf(), rsf(), rsf(), rsf(),
								rsf(), rsf() ]
					} ]
		}
		window.onload = function() {
			var ctx = document.getElementById("canvas-accel").getContext("2d");
			window.myLineAccel = new Chart(ctx).Line(accelChartData, {
				responsive : false,
				scaleIntegersOnly : false,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : -3.00
			});
			//then you just need to generate the legend
			var legend = window.myLineAccel.generateLegend()
			//and append it to your page somewhere
			document.getElementById("accelLegendDiv").innerHTML = legend;

			ctx = document.getElementById("canvas-angular").getContext("2d");
			window.myLineAngular = new Chart(ctx).Line(angularChartData, {
				responsive : false,
				scaleIntegersOnly : false,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : -3.00
			});
			//then you just need to generate the legend
			var legend = window.myLineAngular.generateLegend()
			//and append it to your page somewhere
			document.getElementById("angularLegendDiv").innerHTML = legend;

			ctx = document.getElementById("canvas-magnetic").getContext("2d");
			window.myLineMagnetic = new Chart(ctx).Line(magneticChartData, {
				responsive : false,
				scaleIntegersOnly : false,
				scaleOverride : false,

				// ** Required if scaleOverride is true **
				// Number - The number of steps in a hard coded scale
				// scaleSteps: 300,
				// Number - The value jump in the hard coded scale
				//scaleStepWidth: 0.5,
				// Number - The scale starting value
				animationSteps : 3,
				scaleStartValue : -3.00
			});
			//then you just need to generate the legend
			var legend = window.myLineMagnetic.generateLegend()
			//and append it to your page somewhere
			document.getElementById("magneticLegendDiv").innerHTML = legend;

			var mapOptions = {
				center : {
					lat : 37,
					lng : -122
				},
				zoom : 10
			};

			map = new google.maps.Map(document.getElementById('canvas-google'),
					mapOptions);
			var image = 'img/accelerometer.gif';
			var myLatLng = new google.maps.LatLng(37.394414, -122.147795);
			marker = new google.maps.Marker({
				position : myLatLng,
				map : map,
				icon : image
			});
		}

		$(document).ready(function() {
			connect();
		});
		var stompClient = null;

		function connect() {
			var socket = new SockJS('/phidget-ws');
			stompClient = Stomp.over(socket);
			stompClient.connect('6475c30d-e658-4e75-aa13-83cfb384b53d',
					'gh6l264kcer94qf5ic2bcrj9tl', function(frame) {
						console.log('Connected: ' + frame);
						stompClient.subscribe('/topic/phidget-stream-tap',
								function(message) {
									showEventInfo(message.body);
								});
					});
		}

		function showEventInfo(eventCollectionJson) {
			var eventFeatures = $.parseJSON(eventCollectionJson);
			//console.log(eventFeatures)
			var response = $("#phidgetbody");
			response.empty();
			var eventDesc = eventFeatures.type;
			if (eventDesc == "accel") {
				var x = parseFloat(eventFeatures.x);
				var y = parseFloat(eventFeatures.y);
				var z = parseFloat(eventFeatures.z);
				var ts = eventFeatures.rcvts;

				window.myLineAccel.removeData()
				window.myLineAccel.addData([ x, y, z ], ts);
			} else if (eventDesc == "angular") {
				var x = parseFloat(eventFeatures.x);
				var y = parseFloat(eventFeatures.y);
				var z = parseFloat(eventFeatures.z);
				var ts = eventFeatures.rcvts;

				window.myLineAngular.removeData()
				window.myLineAngular.addData([ x, y, z ], ts);
			} else if (eventDesc == "magnetic") {
				var x = parseFloat(eventFeatures.x);
				var y = parseFloat(eventFeatures.y);
				var z = parseFloat(eventFeatures.z);
				var ts = eventFeatures.rcvts;

				window.myLineMagnetic.removeData()
				window.myLineMagnetic.addData([ x, y, z ], ts);
			} else if (eventDesc == "gps") {
				var lat = parseFloat(eventFeatures.lat);
				var long = parseFloat(eventFeatures.long);
				var alt = parseFloat(eventFeatures.alt);
				var ts = eventFeatures.spatial.rcvts;

				gPos = new google.maps.LatLng(lat, long);
				marker.setPosition(gPos);
			} else {
				console.log("invalid JSON")
			}
			/* var tr = $("<tr/>");
			tr.append($("<td/>").text(eventDesc));
			tr.append($("<td/>").text(x));
			tr.append($("<td/>").text(y));
			tr.append($("<td/>").text(z));
			tr.append($("<td/>").text(ts));
			response.append(tr); */
		}

		//the following code is to support tabs
		
		function init() {

			// Grab the tab links and content divs from the page
			var tabListItems = document.getElementById('tabs').childNodes;
			for (var i = 0; i < tabListItems.length; i++) {
				if (tabListItems[i].nodeName == "LI") {
					var tabLink = getFirstChildWithTagName(tabListItems[i], 'A');
					var id = getHash(tabLink.getAttribute('href'));
					tabLinks[id] = tabLink;
					contentDivs[id] = document.getElementById(id);
				}
			}

			// Assign onclick events to the tab links, and
			// highlight the first tab
			var i = 0;

			for ( var id in tabLinks) {
				tabLinks[id].onclick = showTab;
				tabLinks[id].onfocus = function() {
					this.blur()
				};
				if (i == 0)
					tabLinks[id].className = 'selected';
				i++;
			}

			// Hide all content divs except the first
			var i = 0;

			for ( var id in contentDivs) {
				if (i != 0)
					contentDivs[id].className = 'tabContent hide';
				i++;
			}
		}
		
		function showTab() {
		      var selectedId = getHash( this.getAttribute('href') );

		      // Highlight the selected tab, and dim all others.
		      // Also show the selected content div, and hide all others.
		      for ( var id in contentDivs ) {
		        if ( id == selectedId ) {
		          tabLinks[id].className = 'selected';
		          contentDivs[id].className = 'tabContent';
		        } else {
		          tabLinks[id].className = '';
		          contentDivs[id].className = 'tabContent hide';
		        }
		      }

		      // Stop the browser following the link
		      return false;
		    }
		
		function getFirstChildWithTagName( element, tagName ) {
		      for ( var i = 0; i < element.childNodes.length; i++ ) {
		        if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
		      }
		    }
		
		function getHash( url ) {
		      var hashPos = url.lastIndexOf ( '#' );
		      return url.substring( hashPos + 1 );
		    }
	</script>
</body>
</html>